@font-face {
  font-family: "Graphik Medium";
  src: url("../assets/fonts/Graphik-Medium.otf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Graphik Medium", sans-serif;
}

a,
a:visited,
a:active,
a:hover {
  color:rgb(0, 0, 0);
}

button {
  cursor: pointer;
}

.hero-container {
  font-size: 0;
  text-align: center;
  background-color: rgb(248, 248, 249);
  overflow-y: auto;
  position: relative;
}

.hero {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
}

.hero-full-height {
  height: 100vh;
}

.hero-left,
.hero-right {
  width: 27%;
  position: fixed;
  height: 100vh;
}

.hero-left {
  left: 0;
}

.sticky-bottom {
  position: absolute;
  bottom: 0;
}

.hero-left-mobile,
#mobile-carousel {
  display: none;
}

.hero-desktop {
  font-size: 12px;
  width: 46%;
  text-align: center;
}

.hero-left-content,
.hero-right-content {
  top: 30%;
  position: relative;
  width: 75%;
  margin: 0 auto;
  text-align: left;
  font-size: 14px;
  line-height: 18px;
}

.product-description-bold-upper,
.price {
  margin-bottom: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 11px
}

.product-description-reg {
  margin-bottom: 15px;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 11px;
}

.product-img {
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.zoom-in {
  cursor: url("../assets/images/zoom-in-16x16.png"), zoom-in;
}

.zoom-out {
  cursor: url("../assets/images/zoom-out-16x16.png"), zoom-out;
}

/* Right content */
.color-selector {
  font-size: 0;
  margin-bottom: 17px;
}

.color-box {
  width: calc(100% / 3);
  display: inline-block;
  padding: 1% 2% 1% 4%;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  letter-spacing: 1px;
  text-align: left;
}

.color-box-white,
.color-box-black,
.color-box-beige {
  font-size: 12px;
}

.color-box-white {
  background-color: rgb(248, 248, 249);
}

.color-box-black {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.color-box-black-check-active:after {
  content: "\2714";
}

.color-box-beige {
  background-color: rgb(242, 217, 165);
}

.color-box-beige-check-active:after {
  content: "\2714";
}

.quantity-container {
  font-size: 0;
  margin-bottom: 17px;
}

.quantity-element {
  display: inline-block;
  font-size: 16px;
  box-sizing: border-box;
  line-height: 18px;
  background-color: rgb(248, 248, 249);
}

.quantity-reduce-product,
.quantity-add-product {
  width: 13%;
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
  padding: 3px;
}

.pressed-item {
  display: inline-block;
  background-color: rgb(248, 248, 249);
}

.quantity-press:active > .pressed-item {
  transform: translate(1px, 1px);
}

.quantity {
  width: 74%;
  text-align: center;
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 3px 0;
  font-weight: 100;
  letter-spacing: 0.2px;
  font-size: 12px;
  vertical-align: top;
}

.quantity .remove-letter-spacing {
  letter-spacing: 0;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 4px;
}

.custom-dropdown select {
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 3px 0 3px 10px;
  margin: 0;
  border: 0;
  width: 100%;
  text-indent: 0.01px;
  text-overflow: '';
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background-color: rgb(248, 248, 249);
}

/* Hiding the select arrow for IE10 */
.custom-dropdown select::-ms-expand {
  display: none;
}

.custom-dropdown > select {
  background-image: url(https://cdn.shopify.com/s/files/1/0795/1599/files/icon__arrow.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 8px), 50%;
}

.custom-dropdown::before {
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
}

.custom-dropdown::after {
  color: rgba(0,0,0);
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.25);
}

a.whats-my-size {
  font-size: 8px;
  text-decoration: underline;
  letter-spacing: 1px;
  margin-bottom: 25px;
  color: initial;
  display: inline-block;
}

.add-to-cart {
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 4px 3px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: lowercase;
  font-size: 12px;
  margin-bottom: 15px;
  border: 0;
}

.add-to-cart:hover {
  width: 100%;
  background-color: rgb(248, 248, 249);
  color: rgb(0, 0, 0);
  outline: 1px solid rgb(0, 0, 0);
  transition: background-color 0.1s ease-in;
}

.add-to-cart:active {
  transform: translate(.5px, .5px);
}

.cycle-set {
  text-decoration: underline;
  text-transform: lowercase;
  font-weight: 100;
  width: 100%;
  text-align: center;
  font-size: 11px;
  letter-spacing: .5px;
  color: rgb(53, 51, 51);
}

/* Below the fold */
.below-the-fold {
  text-align: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: none;
}

.category-container {
  width: 85%;
  font-size: 0;
  margin: 0 auto;
}

.category-item {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
  padding: 3% 10%;
  box-sizing: border-box;
}

.category-item-50 {
  width: 50%;
}

.category-item-100 {
  width: 100%;
  padding: 3% 30%;
}

.category-image > img {
  max-width: 100%;
  min-width: 100%;
  vertical-align: center;
  cursor: pointer;
}

.category-product,
.category-description {
  text-align: left;
}

.category-product {
  text-decoration: underline;
  font-weight: 100;
  margin: 10px 0 5px;
  letter-spacing: 1px;
  text-transform: capitalize;
  cursor: pointer;
}

.category-description {
  font-weight: 100;
  font-size: 8px;
  margin: 5px 0;
  letter-spacing: 1px;
}

/* Modal CSS  */
.custom-modal {
  display: none;
  z-index: 2;
  background-color: rgb(248, 248, 249);
  text-align: center;
}

.product-img-modal {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 100px;
}

@media only screen and (max-width: 1024px) {
  /* Above the fold  */
  .hero-container {
    height: auto;
  }

  #mobile-carousel {
    display: block;
    width: 50%;
    margin: 0 auto;
  }

  .product-img {
    transform: translateY(0);
    top: 0;
  }

  .carousel-indicators {
    position: relative;
    margin-top: 0;
    background-color: rgb(248, 248, 249);
    margin-bottom: initial;
  }

  .carousel-indicators .active > .carousel-dot {
    background-color: rgba(0, 0, 0, 1);
  }

  .carousel-indicators .active {
    background-color: rgb(248, 248, 249);
  }
  
  .carousel-indicators li {
    cursor: pointer;
    background-color: rgb(248, 248, 249);
    width: 20px;
    height: 45px;
    margin: 0 2px;
  }

  .carousel-dot {
    background-color: rgba(0, 0, 0, .5);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .hero-left,
  .hero-right {
    width: 80%;
    display: block;
    margin: 50px auto 0;
    height: auto;
    position: relative;
  }

  .hero-left {
    margin: 30px auto 0;
  }

  .hero-right {
    margin: 50px auto 0;
  }

  .hero-left-content,
  .hero-right-content {
    width: 85%;
  }

  .hero-desktop {
    display: none;
  }
  
  .hero-full-height {
    display: inline;
  }

  .cycle-set {
    margin: 15px auto 30px;
    display: inline-block;
    text-align: center;
  }

  .category-container {
    margin: 15px auto 0;
  }

  .category-item-50 {
    width: 100%;
  }

  .category-item,
  .category-item-50,
  .category-item-100 {
    max-width: 80%;
    padding: 20px 0;
  }

  @media only screen and (max-width: 500px) {
    #mobile-carousel {
      width: 80%;
    }
  }
}